/* Description: 

Give the .fb3a element a width of 80% and height of 15%. Then give the .fb3b element a width of 100% and height of 35%.

Solution:  */

.fb3a {
    width: 80%;
    height: 15%;
}

.fb3b {
    width: 100%;
    height: 35%;
}